#background {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
}

#video {
    width: 100%;
}

.home-header {
    margin: 0 0 15rem;
    text-align: center;
    font-size: 5rem;
}

.content-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#address-form {
    align-items: stretch;
    min-width: 60rem;
}

#address-input {
   flex: 1;
   font-size: 2rem;
}

#address-dropdown {
    height: auto;
    font-size: 2rem;
}

#address-submit {
    font-size: 2rem;
}